.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.image-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card-body {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.product-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    text-align: center;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3em;
    line-height: 1.5em;
    text-align: left;
}

.product-price {
    margin-bottom: auto;
}
